/* write your override styles here */
#wall .tag-1 {
    display:none;
}


#wall .tag-2 {
    display:none;
}

#wall .tag-3 {
    display:block
}


#wall .tag-4 {
    display: block
}

#wall .tag-5 {
    display: block
}

#wall .tag-6 {
    display: block
}

#wall .tag-7 {
    display: block
}

#wall .tag-8 {
    display: block
}
